<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qltr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hopdong.GiaHanHopDong.ContractExtensionActivity"></activity>
        <activity android:name=".cosovatchat.RoomFacilities.RoomFacilitiesActivity" />
        <activity android:name=".phuongtien.PhuongTienActivity" />
        <activity android:name=".hoadon.DetailHoaDon.DetailHoaDon" />
        <activity android:name=".phananh.PhanAnhActivity" />
        <activity android:name=".khachtro.SuaKhachTro.SuaKhachTroActivity" />
        <activity android:name=".hopdong.LapHopdong.CreateContractActivity" />
        <activity android:name=".hoadon.LapHoaDon.LapHoaDonActivity" />
        <activity android:name=".hoadon.TraCuuHoaDon.TraCuuHoaDonActivity" />
        <activity android:name=".phongtro.SuaPhongTro.SuaPhongTroActivity" />
        <activity android:name=".khachtro.KhachTroDetail.DetailKhachTroActivity" />
        <activity android:name=".khachtro.DashBoard.DashboardKhachTroActivity" />
        <activity android:name=".phongtro.MenuPhongTro.MenuPhongActivity" />
        <activity android:name=".cosovatchat.SuaCSVC.EditCSVCActivity" />
        <activity android:name=".cosovatchat.QLCSVC.QLCSVCActivity" />
        <activity android:name=".loadingscreen.LoadingActivity" />
        <activity
            android:name=".register.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".cosovatchat.ThemCSVC.ThemCSVCActivity" />
        <activity
            android:name=".phongtro.ThemPhTr.ThemPhongTroActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>